<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Crear plano nuevo</title>
</head>

<body>

    <main class="content">

        <div class="project-card">

            <label for="nombre">Nombre:</label>
            <input 
                id="nombre" 
                type="text" 
                [(ngModel)]="nombre" 
                placeholder="Escribe el nombre del archivo" 
            />

            <!-- Campo Archivo Seleccionado -->
            <!--
            <div>
                <label for="archivo">Archivo Seleccionado:</label>
                <input 
                    id="archivo" 
                    type="file" 
                    accept=".png,.pdf"
                    (change)="onFileSelected($event)" 
                />
                <p>Archivo actual: {{ plano.filename }}</p>
            </div>
            -->

            <!-- Botón Editar -->
            <button (click)="editarArchivo(plano)">Editar</button>
        </div>

    </main>

    

</body>
</html>