<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Crear plano nuevo</title>
</head>

<body>

    <main class="content">

        <form [formGroup]="planoForm" (ngSubmit)="modPlano()">

            <label for="nombre" class="form-label">Nombre</label>
            <input type="text" class="formControlName" id="nombre" formControlName="nombre" placeholder="">
        
            <button type="submit">Editar</button>
            
        </form>

    </main>

</body>
</html>