<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Crear plano nuevo</title>
</head>

<body>

  <h1>Creando nuevo plano</h1>

  <main class="content">

    <form [formGroup]="newPlanoForm" (ngSubmit)="createPlano()">

      <label for="nombre" class="form-label">Nombre</label>
      <input type="text" class="formControlName" id="nombre" formControlName="nombre" placeholder="">

      <label for="especialidad" class="form-label">Especialidad</label>
      <input type="text" class="formControlName" id="nombre" formControlName="especialidad" placeholder="">
  
      <button type="submit">Crear!</button>
      
    </form>

    <br>

    <div class="project-card">
      <div>
        <form (ngSubmit)="onSubmit()" #fileForm="ngForm">
          <input
            type="file"
            (change)="onFileSelected($event)"
            accept=".png,.pdf"
            required
          />
          <button type="submit" [disabled]="!selectedFile" (click)="enviarDocumento()">Subir archivo</button>
        </form>
      </div>
    </div>

  </main>
</body>
</html>
