<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Proyectos</title>
</head>
<body>

  <main class="content">
    <div class="page-title">Proyectos</div>
    <div class="search-sort">
      <input type="text" placeholder="Buscar" class="search-bar" [(ngModel)]="searchTerm">
      <select [(ngModel)]="sortOrder">
        <option value="">Seleccionar</option>
        <option value="recent">Más recientes</option>
        <option value="category">Por categoría</option>
      </select>
    </div>

    <button *ngIf="admin" class="create-btn" type="button" (click)="crearProyecto()">Crear Proyecto +</button>

    <div *ngIf="proyectos.length > 0">

      <div class="project-count">Cantidad de proyectos: {{ proyectos.length }}</div>
      <div class="projects">
        <div class="project-card" *ngFor="let proyecto of proyectos">
          <div class="project-info">
            <p class="project-id">ID: {{ proyecto._id }}</p>
            <p>Nombre: {{ proyecto.nombre }}</p>
            <p>Ubicacion: {{ proyecto.ubicacion }}</p>
          </div>
          <div class="project-status">
            <button [ngClass]="getStatus(proyecto.estado)">{{ proyecto.estado }}</button>
            <button class="view-btn" type="button" (click)="verProyecto(proyecto._id)">Ver</button>
            <button *ngIf="admin" class="delete-btn" type="button" (click)="eliminarProyecto(proyecto._id)">Eliminar</button>
          </div>
        </div>
      </div>

    </div>

    <div *ngIf="proyectos.length === 0">

      <p class="no-content-msg">No hay proyectos para mostrar actualmente</p>

    </div>

  </main>

</body>
</html>
